.image-list-wrapper{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 3rem;

}